In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [3]:
# File to Load 
schools_data = pd.read_csv("C:/Users/jwlem/OneDrive/Desktop/Jess/Module_4_Homework/Starter_Code/PyCitySchools/Resources/schools_complete.csv")
students_data = pd.read_csv("C:/Users/jwlem/OneDrive/Desktop/Jess/Module_4_Homework/Starter_Code/PyCitySchools/Resources/students_complete.csv")

# Combine the data into a single dataset.  
schools_complete = pd.merge(students_data, schools_data, how="left", on=["school_name", "school_name"])
schools_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [20]:
# Calculate the total number of unique schools
df = schools_complete
cnt = 0
UniqueSchools = []
for i in range (0, len(df['school_name'])):
    if df['school_name'] [i] not in UniqueSchools:
        UniqueSchools.append((df['school_name'][i]))
        cnt += 1
print ("No.of.unique values : ", cnt)
print("Unique values : ", UniqueSchools)

No.of.unique values :  15
Unique values :  ['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School', 'Wilson High School', 'Cabrera High School', 'Bailey High School', 'Holden High School', 'Pena High School', 'Wright High School', 'Rodriguez High School', 'Johnson High School', 'Ford High School', 'Thomas High School']

In [ ]:
# Calculate the total number of students
df = schools_complete
cnt = 0
Total Students = []
for i in range (0, len(df['school_name'])):
    if df['school_name'] [i] not in UniqueSchools:
        UniqueSchools.append((df['school_name'][i]))
        cnt += 1
print ("No.of.unique values : ", cnt)

In [ ]:
# Calculate the total budget
total_budget = 
total_budget

# Calculate the average (mean) math score
average_math_score = 
average_math_score

# Calculate the average (mean) reading score
average_reading_score = 
average_reading_score